.descipcion02_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-image: url('../../../../assets/00-Home/01-08-textura.png');
    background-repeat: repeat;
    height: 2150px;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        width: 1280px;

        p {
            font-family: 'Aller-Light';
            color: #3C3C3B;
            line-height: 40px;
            font-size: 20px;

            span {
                font-family: 'Montserrat-Regular';
                font-size: 35px;
            }
        }

    }
}