@font-face {
    font-family: 'Aller-Bold';
    src: url('./Aller-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Aller-Light-Italic';
    src: url('./Aller-Light-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Aller-Light';
    src: url('./Aller-Light.ttf') format('truetype');
}


@font-face {
    font-family: 'Aller-Regular';
    src: url('./Aller-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('./Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./Montserrat-Regular.ttf') format('truetype');
}


