.titleSection_container {
    ul {
        display: flex;
        align-items: center;
        gap: 2px;
        li {
            list-style: none;
            font-family: 'Montserrat-Medium';
            color: #4d4d4d;
            letter-spacing: 0.5;

        }
    }

}