.selectedFilters_container {
    ul {
        li {
            margin-left: 25px;
            font-family: 'Montserrat-Medium';
            color: #4d4d4d;
            letter-spacing: 2px;
            font-size: 11px;
        }
    }
}